<div class="toast-product">
  <button class="btn" onclick="showMore()">View tags</button>
</div>

<script>
  function showMore() {
    var tags = "{% for variable in product.tags %}{{variable}}{% if forloop.last == false %}, {% endif %}{% endfor %}";

    var message = 
      "Dev: Nguyen Duy Anh - 23 years old - BSS dev intern"+"\n" +
      "Tags: " + tags + "\n" 

    alert(message);
  }
</script>

{% schema %}
{
  "name": "Toast Product",
  "target": "section",
  "templates": ["product"],
  "settings": [],
  "stylesheet": "toast-product.css"
}
{% endschema %}
